
<h1>LOGIN PAGE</h1>
<head>
    <script data-cfasync="false" type="text/javascript" src="https://www.greatdexchange.com/a/display.php?r=4777631"></script>
    <meta name="a.validate.01" content="8af335150dd20ef54ac2c0e0aa3b50a19e68" /></head>
    <body>
<script src="//acscdn.com/script/ippg.js" data-adel="inpage" zid="4777571" rr="0" mads="2"></script>
<script src="//achcdn.com/script/suv4.js" data-adel="lwsu" cdnd="achcdn.com" zid="4777563"></script>      </body>
<form action='#' method="post">
	<p> Name: </p>
	<p><input type='text' name="nm" /></p>
	<p><input type='submit' value='submit'/></p>
</form>